alembic==1.11.3
altair==5.1.2
asgiref==3.4.1
attrs==23.1.0
autopep8==2.0.2
bcrypt==4.0.1
blinker==1.6.2
bokeh==3.3.0
boto3==1.33.6
botocore==1.33.6
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
cryptography==42.0.5
cycler==0.11.0
dash==2.9.2
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses==0.6
DateTime==5.2
defusedxml==0.7.1
distlib==0.3.7
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.5
django-cors-headers==3.7.0
django-crontab==0.7.1
django-dirtyfields==1.9.2
django-dotenv==1.4.2
django-htmx==1.17.2
django-reversion==5.0.12
django-seed==0.3.1
django-tinymce==3.7.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.3.0
et-xmlfile==1.1.0
Faker==23.3.0
filelock==3.12.2
Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SeaSurf==1.1.1
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
fonttools==4.38.0
gitdb==4.0.10
GitPython==3.1.37
greenlet==2.0.2
gunicorn==21.2.0
h11==0.14.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
kiwisolver==1.4.4
Mako==1.2.4
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.3
mdurl==0.1.2
missingno==0.5.2
numpy==1.25.2
odfpy==1.4.1
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.0
pandas==2.1.0
Pillow==10.1.0
Pint==0.22
platformdirs==3.10.0
plotly==5.14.1
protobuf==4.24.4
psycopg2==2.9.9
pyarrow==13.0.0
pycodestyle==2.10.0
pycparser==2.21
pydeck==0.8.1b0
Pygments==2.16.1
PyJWT==2.8.0
PyMySQL==1.1.0
pyparsing==3.0.9
PySocks==1.7.1
python-crontab==3.0.0
python-dateutil==2.8.2
python-decouple==3.4
python-dotenv==1.0.0
pytz==2021.1
PyYAML==6.0.1
razorpay==1.4.1
referencing==0.30.2
requests==2.31.0
rich==13.6.0
rpds-py==0.10.6
s3transfer==0.8.2
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
selenium==4.18.1
six==1.16.0
sklearn==0.0.post7
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.20
sqlparse==0.4.1
static3==0.7.0
streamlit==1.27.2
stripe==8.2.0
tenacity==8.2.2
threadpoolctl==3.2.0
toml==0.10.2
toolz==0.12.0
toposort==1.10
tornado==6.3.3
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.10.0
tzdata==2023.3
tzlocal==5.1
urllib3==2.0.6
validators==0.22.0
virtualenv==20.24.3
watchdog==3.0.0
Werkzeug==2.3.7
wsproto==1.2.0
WTForms==3.0.1
xlrd==2.0.1
xyzservices==2023.10.0
zipp==3.17.0
zope.interface==6.1
